.video-player-button{
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    bottom: 10px;
    left: 10px;
}